/*Estilo del Modulo de Registro de Procesos*/
* {
  margin: 0;
  padding: 0;
}
/*Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crete+Round:ital@0;1&display=swap");

/*Color del body */
body {
  background-color: grey;
}
/*Container principal*/
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Contenedor secundario a*/
.row {
  font-family: "Cormorant", serif;
  background-color: #a0d7ac;
  width: 350px !important;
  border-radius: 15px;
  box-shadow: rgba(5, 5, 5, 0.5) 0px 10px 20px;
  box-sizing: border-box;
}
/*Titulo */
h2 {
  font-family: "Crete Round", serif;
  color: black;
  text-align: center;
  font-size: 30px;
}
/*Div de la imagen */
.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Imagen logo dayen*/
.logo-dayen {
  width: 100px;
  height: 100px;
}
/*Contenedor de los input */
.choices {
  position: relative;
  background-color: #e2d197;
  padding: 6px 0 6px 0px;
  border-radius: 10px;
  cursor: pointer;
}
/*Input principal que engloba los textos*/
.choices__input {
  width: 100% !important;
  background-color: #e2d197;
  padding-left: 20px;
  border: none;
  cursor: pointer;
}
/*Estilo de las letras dento de los contenedores del intup*/
.choices__inner {
  background-color: #e2d197;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
/*Focus del input */
.choices__input:focus {
  outline: none;
  border: none;
}
/*Placeholder del input*/
.choices__input::placeholder {
  color: #000;
  border: none;
}
/*Informacion sobre los select que conforman los productos*/
.choices__list--dropdown {
  max-height: 150px;
  display: none;
  border-color: #e2d197;
  border-radius: 10px;
  border: none;
  color: #000;
  background-color: #e2d197;
  overflow-y: auto;
}
/*Informacion sobre los select*/
.choices__list--dropdown.is-active {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
/*Items*/
.choices__item {
  background-color: #e2d197;
  color: #000;
  padding: 5px 0px 5px 20px;
}
.choices__item.is-highlighted {
  background-color: #cbc083;
}
.choices__list--multiple {
  display: flex;
  flex-wrap: wrap;
}
.choices__list--multiple .choices__item {
  display: flex;
  font-size: 15px;
  align-items: center;
  gap: 5px;
}

/*Boton de eliminar que esta en los productos*/
.choices__button {
  display: inline-block;
  background-color: transparent;
  background-image: url(../img/svg/trash-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  border: none;
  aspect-ratio: 1 / 1;
  font-size: 0;
  text-indent: 9999px;
}
/*Tipo de letras de los label*/
label {
  font-size: 20px;
  color: black;
}
/*Clases de calendario y descripcion*/
.calen,
.descripcion {
  padding-left: 15px !important;
}
/*Formulario del login -- engloba el input */
.form-control {
  padding-left: 35px !important;
  border-radius: 10px;
  font-size: 18px;
  background-color: #e2d197;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Cormorant", sans-serif;
}
/* Cambiar el color del borde cuando el input está enfocado */
.form-control:focus {
  background-color: #e2d197 !important;
  box-shadow: 0 0 0 0.25rem #e2d197;
  border: none;
}
/*Sirve para darle el color a los placeholder que esten dentro de la clase form-control*/
.form-control::placeholder {
  background-color: #e2d197 !important;
  color: black;
}

/*Boton de volver*/
.btn {
  font-family: "Cormorant", serif;
  width: 150px;
  font-size: 20px;
  background-color: #e0ab4e;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #e0ab4e;
}
