/*Barra de Navegacion principal*/
/*Clase principal*/
.navbar {
    font-family: "Cormorant", serif;
    border-radius: 15px; 
    height: 100px; 
    visibility: visible;
    background-color: #a0d7ac !important;
}
/*Estilo de infromacion de la barra de navegacion*/
.nav-link{
    width: fit-content;
    font-size: 25px;
}
ul li a {
    color: black  !important;
    cursor: pointer;
    text-decoration: none;
}
ul li a:hover{
	text-shadow:2px 2px 20px #04f839;
}
/*Inconos de la barra de navegacion*/
/*Icono inicio de sesion*/
.bi-inicio{
    color: black;
    font-size: 26px;
    margin-left: 65px;
    cursor: pointer;
}
/*Icono registro de persona*/
.bi-people {
    color: black;
    font-size: 26px;
    margin-left: 45px;
    cursor: pointer;
}
/*Imagen de DAYEN*/
.d-inline-block{
    width: 100px;
    height: 100px;
}