/*Estilo de modulos de inicio de sesion- Recuperar contraseña- Registrar usaurio*/

*{
    margin: 0;
    padding: 0;
}

/*Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crete+Round:ital@0;1&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap'); Titulos*/
/*  font-family: "Cormorant", serif;--------Para los subtitulos- y botones --y el input del formulario*/ 

/****************************************************************************************************************/
/*Modulo de Bienvenida*/
/*Barra de Navegacion principal*/
/*Clase principal*/
.navbar {
    font-family: "Cormorant", serif;
    border-radius: 15px; 
    height: 100px; 
    visibility: visible;
    background-color: #a0d7ac !important;
}
/*Estilo de infromacion de la barra de navegacion*/
.nav-link{
    width: fit-content;
    font-size: 25px;
}
ul li a {
    color: black  !important;
    cursor: pointer;
    text-decoration: none;
}
ul li a:hover{
	text-shadow:2px 2px 20px #04f839;
}
/*Inconos de la barra de navegacion*/
.bi-inicio{
    color: black;
    font-size: 26px;
    margin-left: 65px;
    cursor: pointer;
}
.bi-people {
    color: black;
    font-size: 26px;
    margin-left: 45px;
    cursor: pointer;
}
/*Imagen de DAYEN*/
.d-inline-block{
    width: 100px;
    height: 100px;
}
/*Contenido de Modulo de bienvenida*/
/*Titulos*/
h1{
    font-family: "Crete Round", serif;
    font-size: 50px;
    color: rgb(232, 230, 230);
}
/*Parrafos y contenido*/
p {
    text-align: justify;
   font-size: 25px;
   color: rgb(232, 230, 230);
}
/*Pie de pagina*/
.nav-footer a{
    color: rgb(232, 230, 230) !important;
}
.bi-whatsapp, .bi-facebook, .bi-github, .bi-instagram {
    margin-left: 45px;
    font-size: 40px !important;
}
.card {
    width: 300px;
    height: 300px;
    
}


/****************************************************************************************************************/
/*Inicio del stilo de Modulo de Lotes*/
body {
    background-color: grey;
}

/*Ptopiedades de la imagen */
.imagen {
    width:100px;
    height:100px; 
}

/* Clases del icono de cerrar*/
.bi{
    color: black;
    font-size: 20px;
    margin-right: 37px;
    cursor: pointer;
}
.bi-icono{
    color: black;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.fa-solid {
    font-size: 30px;
    margin-left: 37px;
    cursor: pointer;
}
/*position:fixed; sirve para dejar instantaneamente la barar de navegador pero me da problemas esta en preceso.

/**********************************************************************************/
/*modolo principal de lotes*/

/*Contenedor principal que engloba toda la informacion del Inicio de Sesion*/
/*Titulo*/


/*Contenedor de las imagenes*/
.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
   
 
    cursor: pointer;

}
/*Contenedor las imagnes y tamaños*/
.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .7s ease;
}
/*Contenedor de las imagenes y sus transicion*/
.galeria img:hover{
    width: 300px;
    opacity: 1;
    filter: brightness(130%);
}
/*Botones*/
.btn{
    font-family: "Cormorant", serif;
    width: 250px;
    font-size: 20px;
    background-color: #e0ab4e;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background-color: #e0ab4e;
}
/*Tabla de informacion*/
.table {
    width: 500px;
    font-size: 20px; 
    border-radius: 15  !important;
    cursor: pointer;
}
.table-success {  
    --bs-table-bg: #a0d7ac; /*Color izquierdo*/
    --bs-table-border-color: #0e0e0e;
    --bs-table-striped-bg: #8febc2; /*Color derecho*/
}

/*************************************************************************************************************************************/
/*modulo de modificar procesos*/
/*Div imagnes */
.rounded{
    width: 300px;
    height: 300px;
}

/****************************************/
/*ACORDEON*/
.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}
.contenedor-acordeon h2 {
text-align: center;
font-size: 40px;
margin-bottom: 35px;
}
.acordeon{
    background-color: white;
}
.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #8febc2;
    color: antiquewhite;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: #e0ab4e;
}
.acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon {
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon {
    display: none;
}


/*************************************************************************************************************************/
/*RESPONSIVE*/
/*Responsi modulo de bienvenida*/
/* para 768px o menos */
@media screen and (max-width: 768px) {
  /*Clase principal*/
.navbar {
    height: 100px; 
}
/*Estilo de infromacion de la barra de navegacion*/
.nav-link{
    font-size: 18px;
}

/*Inconos de la barra de navegacion*/
.bi-inicio, .bi-people{
    visibility: hidden;
}
/*Contenido de Modulo de bienvenida*/
/*Titulos*/
h1{
    font-family: "Crete Round", serif;
    font-size: 40px;
    color: rgb(232, 230, 230);
}
/*Parrafos y contenido*/
p {
    text-align: justify;
   font-size: 18px;
   color: rgb(232, 230, 230);
}


}