/*Estilo del modulo de lotes*/

* {
  margin: 0;
  padding: 0;
}

/*Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crete+Round:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap"); /*Para los titulos*/

body {
  background-color: grey;
}
/*Barra de Navegacion principal*/
/*Clase principal*/
.navbar {
  font-family: "Cormorant", serif;
  border-radius: 15px;
  visibility: visible;
  background-color: #a0d7ac !important;
}
/*Estilo de infromacion de la barra de navegacion*/
.nav-link {
  width: fit-content;
  margin-left: 10px;
  font-size: 25px;
}
ul li a {
  color: black !important;
  cursor: pointer;
  text-decoration: none;
}
ul li a:hover {
  text-shadow: 2px 2px 20px #04f839;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*Imagen de DAYEN*/
.d-inline-block {
  width: 100px;
  height: 100px;
}
/*Icono de Registrar Personal*/
.bi-people-fill {
  color: black;
  font-size: 26px;
  margin-left: 100px;
  cursor: pointer;
}
/*Registro de Lotes*/
.fa-sun-plant-wilt {
  color: black;
  font-size: 26px;
  margin-left: 90px;
  cursor: pointer;
}
/*Icono de cerrar*/
.fa-x {
  color: black;
  font-size: 26px;
  margin-left: 30px !important;
  cursor: pointer;
}
/*Boton de responsive*/
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: #a0d7ac;
  background-color: #a0d7ac;
  border: black;
}
/*Titulos*/
h4 {
  font-family: "Crete Round", serif;
  font-size: 50px;
  color: #e8e6e6;
}
h4:hover {
  text-shadow: 2px 2px 20px #151615;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*Subtitulo de cada uno de los modulos*/
h3 {
  font-family: "Crete Round", serif;
  font-size: 35px;
  color: #e8e6e6;
}
h3:hover {
  text-shadow: 2px 2px 20px #05f805;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*Cambio de los link*/
a {
  text-decoration: none;
}
.contenedor-lotes {
  column-gap: 5em;
  row-gap: 3em;
}
/*Imagnes de lotes*/
.imagen-lotes {
  width: 300px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 15px;
}
.imagen-lotes:hover{
  transform: scale(1.1);
}
/*Boton de ingresar*/
.btn {
  font-family: "Cormorant", serif;
  width: 100px;
  height: 35px;
  font-size: 15px;
  background-color: #e0ab4e;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #76f1ba;
}
/********************************************************/
/*Modal Eliminar*/
/*Contenedor del modal eliminar y modificar */
.modal-content {
  background-color: #98ddaa;
}
/*Titulo del modal eliminar*/
.modal-title {
  color: black;
}
/*Boton del modal eliminar*/
.btn-modal {
  font-family: "Cormorant", serif;
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #e0ab4e;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn-modal:hover {
  background-color: #9baaa0 !important;
}
/*contenedor del modal que tiene mensaje*/
.modal-body {
  font-size: 20px;
}
/***************************************/
/*Modal de modificar procesos*/

/*Titulo*/
h2 {
  font-family: "Crete Round", serif;
  color: black;
  text-align: center;
  font-size: 25px;
}
/*Formulario del login -- engloba el input */
.form-control {
  padding-left: 35px !important;
  border-radius: 10px;
  font-size: 18px;
  background-color: #e2d197;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Cormorant", sans-serif;
}
/* Cambiar el color del borde cuando el input está enfocado */
.form-control:focus {
  background-color: #e2d197 !important;
  box-shadow: 0 0 0 0.25rem #e2d197;
  border: none;
}
/*Sirve para darle el color a los placeholder que esten dentro de la clase form-control*/
.form-control::placeholder {
  background-color: #e2d197 !important;
  color: black;
}
/*Iconos */
.fa-solid,
.fa-brands {
  color: black;
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* Clases del icono que están en el registre lotes*/
input[type="file"]::file-selector-button {
  background-color: #e2d197 !important;
  border-style: none;
}
/*Botones de modificar*/
.botton {
  font-family: "Cormorant", serif;
  width: 130px;
  height: 50px;
  font-size: 20px;
  background-color: #e0ab4e;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.botton:hover {
  background-color: #a0d7ac;
}
/************************************************************************************************/
/*Reponsive*/
@media  screen and (max-width: 768px) {
  
  /*Estilo de infromacion de la barra de navegacion*/
  .nav-link {
    font-size: 18px;
  }
  /*Contenido de Modulo de bienvenida*/
  /*Titulos*/
  h1 {
    font-size: 40px;
  }
  /*Parrafos y contenido*/
  p {
    text-align: justify;
    font-size: 18px;
  }
  /*Imagen de dayen*/
  .d-inline-block {
    width: 60px;
    height: 60px;
    margin-bottom: 35px;
    margin-left: 110px;
  }
  
}
/* Estilos para pantallas con un ancho mínimo de 601px y un ancho máximo de 1024px */
@media (min-width: 768px) and (max-width: 1024px){
  /*Estilo de infromacion de la barra de navegacion*/
  .nav-link {
    font-size: 20px;
  }
  /*Contenido de Modulo de bienvenida*/
  /*Titulos*/
  h1 {
    font-size: 40px;
  }
  /*Imagen de dayen*/
  .d-inline-block {
    width: 65px;
    height: 65px;
    margin-bottom: 35px;
  }
}

